<footer>
  <nav>
    <div class="footer-item">
      <ul>
        <li><%= link_to '利用規約', page_path('about') %></li>
        <li><%= link_to 'プライバシーポリシー', page_path('privacy') %></li>
        <li><%= link_to 'お問い合わせ', page_path('qa') %></li>
        <li>Copyright @ 2023</li>
        <li class="x">
        <a href="//twitter.com/intent/tweet?url=タスク完了頑張ります！&text=" target="_blank" rel="nofollow noopener noreferrer">
          <i>Xに投稿する</i>
        </a>
        <li>
      </ul>
    </div>
  </nav>
</footer>
