<!DOCTYPE html>
<html lang="en">
  <% if user_signed_in? %>
    <body>
      <div class="body-item">
        <% if @tasks.present? %>
          <%= render 'task' %>
        <% else %>
          <div class="mb-3">タスクがありません</div>
        <% end %>
        <div class="new-task">
          <%= link_to 'こちらからタスクを作りましょう！', new_task_path, class: 'btn btn-primary' %>
        </div>
        <div class="new-task">
        <%= link_to 'カテゴリ一覧はこちら', categories_path, class: 'btn btn-success' %>
        <%= paginate @tasks %>
      </div>
      </div>
    </body>
  <% else %>
    <body>
      <div class="body-item">
        <h1>Pottode</h1>
        <h2>達成感が出るアプリ</h2>
      </div>
    </body>
  <% end %>
</html>
