<div class="terms-of-service">
  <h2>利用規約</h2>
  <div class="service-list">
    <div><b>1. サービスの提供</b></div>
    <div>Pottodeアプリ（以下「本サービス」）は、TODO管理を目的としたサービスを提供します。</div>
    <div><b>2. 利用者の責任</b></div>
    <div>利用者は、本サービスを利用する際に提供される情報が正確であることを保証します。</div>
    <div><b>3. 禁止事項</b></div>
    <div>本サービスの利用者は、以下の行動を禁止します。</div>
        <li>・法律に違反する行為</li>
        <li>・他の利用者に対する嫌がらせや不正行為</li>
        <li>・システムやセキュリティへの攻撃</li>
    <div><b>4. サービスの変更と終了</b></div>
    <div>運営者は事前の通知なしに、本サービスの提供を変更または終了することがあります。</div>
    <div><b>5. 免責事項</b></div>
    <div>運営者は、本サービスの利用により発生した損害について一切の責任を負いません。</div>
  </div>
</div>