<div class="terms-of-service">
  <h2>プライバシーポリシー</h2>
  <div class="service-list">
    <div><b>1. 収集する情報</b></div>
    <div>Pottodeアプリ（以下「本サービス」）は、利用者が提供したTODOリストおよびその他の関連情報を収集します。</div>
    <div><b>2. 情報の利用</b></div>
    <div>収集した情報は、本サービスの提供および改善、利用者との連絡のために使用されます。</div>
    <div><b>3. 情報の共有</b></div>
    <div>本サービスは、利用者の許可なしに収集した情報を第三者と共有しません。</div>
    <div><b>4. セキュリティ</b></div>
    <div>運営者は、利用者の情報を適切に保護するために必要な措置を講じます。</div>
    <div><b>5. Cookieの使用</b></div>
    <div>本サービスはCookieを使用して利用者のブラウジング体験を向上させます。</div>
    <div><b>6. 変更通知</b></div>
    <div>プライバシーポリシーの変更がある場合、利用者に通知します。</div>
  </div>
</div>