<div class="terms-of-service">
  <h2>お問い合わせ</h2>
  <div class="service-list">
    <div>Pottodeアプリ（以下「本サービス」）をご利用くださいましてありがとうございます。</div>
    <div>もし不明な点や挙動が不自然な点がありましたら、お手数ですが以下までご連絡ください。</div>
    <div class="red">※連絡先については現在準備中です。</div>
  </div>
</div>